$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

$custom-colors: (
    "royal": #001489,
    "aqua": #0097a9,
    "mustard": #f2a900,
    "burnt": #d45d00
);

$theme-colors: map-merge($theme-colors, $custom-colors);